<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.js"></script>  
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Management System", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Issues", "Index", "Issue")</li>                   
                </ul>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Comments", "Index", "Comment")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>          
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
   
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(function () {
            $("#CreatedDate").datepicker({ dateFormat: 'yy-mm-dd' });
            $("#RequiredByDate").datepicker({ dateFormat: 'yy-mm-dd' });
            $("#NextActionDate").datepicker({ dateFormat: 'yy-mm-dd' });
            $("#DateAdded").datepicker({ dateFormat: 'yy-mm-dd' });
            $("#ReminderDate").datepicker({ dateFormat: 'yy-mm-dd' });
        });
    </script>
</body>
</html>
