@model IEnumerable<ManagementSystem.Models.Comment>
 @using Microsoft.AspNet.Identity;
         

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           User Name
        </th>
        <th>
            Comment 
        </th>
        <th>
            Issue Name
        </th>
        <th>
            Date Added
        </th>
        <th>
            Reminder Date
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>Action</th>
    </tr>
   
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Author.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CommentType.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Issue.Name)
        </td>
        <td>
            @item.DateAdded.ToString("yyyy-MM-dd")
        </td>
        <td>
            @item.ReminderDate.ToString("yyyy-MM-dd")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
           
            @if (item.AuthorId == this.User.Identity.GetUserId())
            {
             @Html.ActionLink("Edit", "Edit", new { id=item.Id })
             @: | 
            }                                                                 
            @Html.ActionLink("Details", "Details", new { id=item.Id })
            @if (item.AuthorId == this.User.Identity.GetUserId())
            {
              @: | 
              @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            }
        </td>
    </tr>
}

</table>
