@model ManagementSystem.Models.Issue

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Issue</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, "Issue Name" , new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CreatedDate, "Created Date", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.CreatedDate, new { @Value = Model.CreatedDate.ToString("yyyy-MM-dd") })
                @Html.ValidationMessageFor(model => model.CreatedDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RequiredByDate, "Required By Date" , new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.RequiredByDate, new { @Value = Model.RequiredByDate.ToString("yyyy-MM-dd") })
                @Html.ValidationMessageFor(model => model.RequiredByDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">               
                @Html.TextAreaFor(m => m.Description, new { cols = "40", rows = "5" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NextActionDate, "New Acion Date" , new { @class = "control-label col-md-2" })
            <div class="col-md-10">             
                @Html.TextBoxFor(model => model.NextActionDate, new { @Value = Model.NextActionDate.ToString("yyyy-MM-dd") })
                @Html.ValidationMessageFor(model => model.NextActionDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StatusId, "Status", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StatusId", String.Empty)
                @Html.ValidationMessageFor(model => model.StatusId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IssueTypeId, "Issue Type", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IssueTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.IssueTypeId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
